<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
</script>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    mermaid.initialize({
      startOnLoad:true,
      theme: "default",
    });
    mermaid.run({
      nodes: document.querySelectorAll('.language-mermaid'),
    });
    const p = document.querySelectorAll('.language-mermaid');
    console.log(p.length);
  });
</script>
